@using EasyTravel.Domain.Entites
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name.Remove(User.Identity.Name.IndexOf('@'))
            </a>
            <ul class="dropdown-menu dropdown-menu-dark justify-content-center">
                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Booking History</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </li>
    }
</ul>