@{
    var actions = new List<string>();
    actions.Add("Photographer");
    actions.Add("Guide");
    actions.Add("Bus");
    actions.Add("Car");
    actions.Add("Hotel");
    var length = actions.Count();
}

<div class="list-group">
    @foreach (var action in actions)
    {
        <a asp-area="Profile" asp-controller="BookingHistory" asp-action="@action" class="list-group-item list-group-item-action list-group-item-primary">@action</a>
        <br />
    }
</div>