@model SearchResultViewModel
@{
    ViewData["Title"] = "Photographer List";
}
@section PhotographerStyles{
    <style>
        .photographer-card {
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        }

        .photographer-card:hover {
        transform: translateY(-5px);
        }

        .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        }
    </style>
}
<div class="mt-5 w-75 mx-auto ">
    <div class="d-flex justify-content-between shadow-sm rounded-2 w-100">
        <div class="d-flex justify-content-between">
            <a href="#"><i class="bi bi-caret-left-fill fs-1 text-danger"></i></a>
            <h2 class="text-center">Photographer List</h2>
            <a href="#"><i class="bi bi-caret-right-fill fs-1 text-danger"></i></a>
        </div>
    </div>
    <div class="row shadow-sm rounded-2 ps-5 mt-5">
        @foreach (var photographer in Model.Photographers)
        {
            var amount = photographer.HourlyRate * Model.Model.TimeInHour;
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="photographer-card p-3 d-flex align-items-center">
                    <img src="@photographer.ProfilePicture" alt="Profile Picture" class="profile-picture me-3">
                    <div>
                        <h5 class="mb-1">@photographer.FirstName</h5>
                        <p class="mb-1">⭐ Rating: @photographer.Rating</p>
                        <p class="mb-2"> BDT: @amount </p>
                        <a asp-asp-area="" asp-controller="Photographer" asp-action="Book" class="btn btn-primary btn-sm">Book Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>