@model IEnumerable<HotelBooking>
@{
    ViewData["Title"] = "Index";
}

<div class="entity-list">
    <h2>Hotel booking List</h2>
    <div class="entity-row">
        <span class="name"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <!-- Buttons Section -->
        <div class="actions">
        </div>
    </div>
    @foreach (var hotelBooking in Model)
    {
        <div class="entity-row">
            <span class="name"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <!-- Buttons Section -->
            <div class="actions">
                <a asp-area="Admin" asp-controller="AdminHotelBooking" asp-action="Delete" asp-route-id="@hotelBooking.Id" class="delete-btn">Delete</a>
            </div>
        </div>
    }
</div>
