@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager

@{
    var controllers = new List<string>();
    controllers.Add("AdminUser");
    controllers.Add("AdminRole");
    controllers.Add("AdminUserRole");
    controllers.Add("AdminBooking");
    controllers.Add("AdminAgency");
    controllers.Add("AdminPhotographer");
    controllers.Add("AdminGuide");
    controllers.Add("AdminPhotographerBooking");
    controllers.Add("AdminGuideBooking");
    controllers.Add("AdminHotel");
    controllers.Add("AdminRoom");
    controllers.Add("AdminHotelBooking");
    controllers.Add("AdminBus");
    controllers.Add("AdminSeat");
    controllers.Add("AdminBusBooking");
    controllers.Add("AdminCar");
    controllers.Add("AdminCarBooking");


    var length = controllers.Count();
    int i = 0;
    if (User.IsInRole("agencyManager"))
    {
        i = 4;
        length = 9;
    }
    else if (User.IsInRole("hotelManager"))
    {
        i = 9;
        length = 12;
    }
    else if (User.IsInRole("busManager"))
    {
        i = 12;
        length = 15;
    }
    else if(User.IsInRole("carManager"))
    {
        i = 15;
        length = 17;
    }

}
<div class="list-group">
    @for(; i < length; i++)
    {
        <a asp-area="Admin" asp-controller="@controllers[i]" asp-action="Index" class="list-group-item list-group-item-action list-group-item-primary">@controllers[i].Replace("Admin","")</a>
        <br />
    }
</div>