@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h1 class="display-4"> @ViewBag.SuccessInfo</h1>   
    <a href="https://sandbox.sslcommerz.com/manage/" class="btn btn-primary">Go to Merchant Page</a>
</div>
